<!DOCTYPE HTML>

{% load staticfiles %}

<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://use.fontawesome.com/400067aa96.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript" src="{% static "js/skel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrolly.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dropotron.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrollex.js" %}"></script>
    <script type="text/javascript" src="{% static "js/util.js" %}"></script>
  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
      <header id="header">
        <a href="{% url 'index' %}" class="image nobackground">
          <img src="{% static "images/logo.png" %}" alt="MyCar Logo" />
        </a>

        <nav id="nav">
          {% if user.is_authenticated %}
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {%ifequal type "lessor"%}
            <li>
              <a href="{% url 'car_register' %}">Register Car</a>
            </li>
            {%endifequal%}
            <li>
              <a href="#" class="button notsospecial">{{username}}</a>
              <ul>
                <li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>
              <a href="#">Get Started</a>
              <ul>
                <li><a href="{% url 'lessees' %}">Lessees</a></li>
                <li><a href="{% url 'lessors' %}">Lessors</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'login' %}" class="button notsospecial">Sign In</a>
            </li>
            <li>
              <a href="#" class="button special">Sign Up</a>
              <ul>
                <li><a href="{% url 'lessee_register' %}">As Lessee</a></li>
                <li><a href="{% url 'lessor_register' %}">As Lessor</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </nav>
      </header>
      {% block body_block %}
      {% endblock %}
      <script>
        document.querySelectorAll("input").forEach(element => {
        element.setAttribute("autocomplete", "off");
      });
      </script>
      <!-- Footer -->
      <footer id="footer">
        <!--
        <ul class="icons">
          <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>-->

        <ul class="copyright">
          <li>&copy; MyCar 2020. All rights reserved.</li>
        </ul>

      </footer>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

  </body>
</html>
